{
  "watchDir": "~/Desktop/Scheduled Posts/",
  "processInterval": 5,
  "cronTime": "0 0,6-23 * * *",
  "firebase": {
    "options": {
      "storageBucket": "",
    }
  },
  "bluesky": {
    "handle": "your-handle.bsky.social"
  },
  "mastodon": {},
  "threads": {
    "keyRefreshIntervalDay": 15,
    "lastKeyRefreshDate": null
  },
  "twitter": {}
}
